@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(45deg, #57003f 0%, #f57453 100%);
    font-family: 'Ubuntu';
}
